In [1]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.3.1'
spark_version = 'spark-3.3.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Hit:2 http://archive.ubuntu.com/ubuntu focal InRelease
Get:3 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Get:4 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Get:5 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Get:6 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease [3,622 B]
Hit:7 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Get:8 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease [18.1 kB]
Hit:9 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Hit:10 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Hit:11 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Get:12 http://archive.ubuntu.com/ubuntu focal-updates/restricted amd64 Packages [2,408 kB]
Get:13 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [3,197 kB]
Get:14 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1,344 kB]
Get:15 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal/main amd64 Packages [29.5 kB]
Get:16 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [2,721 kB]
Get:17 http://security.ubuntu.com/ubuntu focal-security/restricted amd64 Packages [2,270 kB]
Fetched 12.3 MB in 3s (4,385 kB/s)
Reading package lists... Done

In [2]:
 # Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataFrame Basics").getOrCreate()

In [5]:
import pandas as pd 
import io 
from google.colab import files 
uploaded = files.upload()
df = pd.read_csv(io.BytesIO(uploaded['all_perth_310121.csv']))
df.head()

Saving all_perth_310121.csv to all_perth_310121 (1).csv

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN

In [9]:
df.dtypes

ADDRESS              object
SUBURB               object
PRICE                 int64
BEDROOMS              int64
BATHROOMS             int64
GARAGE              float64
LAND_AREA             int64
FLOOR_AREA            int64
BUILD_YEAR          float64
CBD_DIST              int64
NEAREST_STN          object
NEAREST_STN_DIST      int64
DATE_SOLD            object
POSTCODE              int64
LATITUDE            float64
LONGITUDE           float64
NEAREST_SCH          object
NEAREST_SCH_DIST    float64
NEAREST_SCH_RANK    float64
dtype: object

In [63]:
df['GARAGE'] = df['GARAGE'].fillna(0)

In [100]:
import numpy as np
df['BUILD_YEAR'] = df['BUILD_YEAR'].fillna(df['BUILD_YEAR'].mean())
#df['BUILD_YEAR'] = pd.to_numeric(df['BUILD_YEAR'])
df['BUILD_YEAR'] = df['BUILD_YEAR'].round()

In [101]:
check = df.loc[df['SUBURB'] == 'Roleystone']
check

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
33,1 Belvedere Rise,Roleystone,795000,4,3,6.0,2095,254,1990.0,27300,Kelmscott Station,5800,10-2017\r,6111,-32.115357,116.074862,KELMSCOTT SENIOR HIGH SCHOOL,6.049554,113.0
252,1 Horsemans View,Roleystone,670000,5,2,7.0,2783,284,2011.0,29800,Sherwood Station,7200,01-2019\r,6111,-32.137534,116.086736,SOUTHERN HILLS CHRISTIAN COLLEGE,6.096922,NaN
1353,10 Protector Grove,Roleystone,640000,4,2,2.0,2000,260,1996.0,30800,Sherwood Station,8100,01-2020\r,6111,-32.142250,116.096390,SOUTHERN HILLS CHRISTIAN COLLEGE,6.300900,NaN
1479,10 Valley View Road,Roleystone,675000,5,2,8.0,2002,285,2008.0,27000,Kelmscott Station,5800,06-2017\r,6111,-32.111723,116.074807,KELMSCOTT SENIOR HIGH SCHOOL,6.103279,113.0
1771,104 Holden Road,Roleystone,460000,3,1,4.0,1912,122,1954.0,26600,Kelmscott Station,5700,12-2016\r,6111,-32.107730,116.073290,KELMSCOTT SENIOR HIGH SCHOOL,6.059399,113.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31420,8 Tyers Road,Roleystone,465000,3,2,1.0,2026,116,1978.0,26200,Kelmscott Station,5200,04-2017\r,6111,-32.107150,116.068520,KELMSCOTT SENIOR HIGH SCHOOL,5.643594,113.0
32693,9 Mann Place,Roleystone,580000,4,2,4.0,1636,233,1993.0,27100,Challis Station,4900,04-2017\r,6111,-32.121640,116.064850,KELMSCOTT SENIOR HIGH SCHOOL,5.067833,113.0
32749,9 Moseri Road,Roleystone,655000,4,2,2.0,2000,266,1990.0,27000,Kelmscott Station,7000,10-2018\r,6111,-32.099875,116.086271,JOHN WOLLASTON ANGLICAN COMMUNITY SCHOOL,7.410203,40.0
33178,91 Peet Road,Roleystone,395000,3,1,2.0,2023,97,1969.0,26700,Kelmscott Station,4700,02-2019\r,6111,-32.117990,116.063180,KELMSCOTT SENIOR HIGH SCHOOL,4.925866,113.0
33609,9A High Road,Roleystone,525000,4,2,3.0,2010,195,2009.0,26700,Kelmscott Station,4600,09-2016\r,6111,-32.119990,116.061330,KELMSCOTT SENIOR HIGH SCHOOL,4.739132,113.0

In [102]:
df.dtypes

ADDRESS              object
SUBURB               object
PRICE                 int64
BEDROOMS              int64
BATHROOMS             int64
GARAGE              float64
LAND_AREA             int64
FLOOR_AREA            int64
BUILD_YEAR          float64
CBD_DIST              int64
NEAREST_STN          object
NEAREST_STN_DIST      int64
DATE_SOLD            object
POSTCODE              int64
LATITUDE            float64
LONGITUDE           float64
NEAREST_SCH          object
NEAREST_SCH_DIST    float64
NEAREST_SCH_RANK    float64
dtype: object

In [103]:
df_a = df.copy()

In [104]:
df_a.columns

Index(['ADDRESS', 'SUBURB', 'PRICE', 'BEDROOMS', 'BATHROOMS', 'GARAGE',
       'LAND_AREA', 'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'DATE_SOLD', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH', 'NEAREST_SCH_DIST', 'NEAREST_SCH_RANK'],
      dtype='object')

In [105]:
df_a = df_a.drop(['ADDRESS', 'NEAREST_STN', 'DATE_SOLD', 'POSTCODE', 'LATITUDE', 'LONGITUDE', 'NEAREST_SCH', 'NEAREST_SCH_RANK'], axis=1)
df_a.head()

,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,NEAREST_SCH_DIST
0,South Lake,565000,4,2,2.0,600,160,2003.0,18300,1800,0.828339
1,Wandi,365000,3,2,2.0,351,139,2013.0,26900,4900,5.524324
2,Camillo,287000,3,1,1.0,719,86,1979.0,22600,1900,1.649178
3,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,3600,1.571401
4,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,2000,1.514922

In [106]:
# set y values
y = df_a['PRICE']

In [107]:
dummies = pd.get_dummies(df_a['SUBURB'])
dummies.head()

,Alexander Heights,Alfred Cove,Alkimos,Anketell,Applecross,Ardross,Armadale,Ascot,Ashby,Ashfield,...,Wilson,Winthrop,Woodbridge,Woodlands,Woodvale,Wooroloo,Wungong,Yanchep,Yangebup,Yokine
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [108]:
df_merged = pd.concat([df_a, dummies], axis=1)
df_merged.head()

,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,...,Wilson,Winthrop,Woodbridge,Woodlands,Woodvale,Wooroloo,Wungong,Yanchep,Yangebup,Yokine
0,South Lake,565000,4,2,2.0,600,160,2003.0,18300,1800,...,0,0,0,0,0,0,0,0,0,0
1,Wandi,365000,3,2,2.0,351,139,2013.0,26900,4900,...,0,0,0,0,0,0,0,0,0,0
2,Camillo,287000,3,1,1.0,719,86,1979.0,22600,1900,...,0,0,0,0,0,0,0,0,0,0
3,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,3600,...,0,0,0,0,0,0,0,0,0,0
4,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,2000,...,0,0,0,0,0,0,0,0,0,0

In [109]:
df_merged = df_merged.drop(['SUBURB', 'PRICE'], axis=1)
df_merged.head()

,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,NEAREST_SCH_DIST,Alexander Heights,...,Wilson,Winthrop,Woodbridge,Woodlands,Woodvale,Wooroloo,Wungong,Yanchep,Yangebup,Yokine
0,4,2,2.0,600,160,2003.0,18300,1800,0.828339,0,...,0,0,0,0,0,0,0,0,0,0
1,3,2,2.0,351,139,2013.0,26900,4900,5.524324,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,1.0,719,86,1979.0,22600,1900,1.649178,0,...,0,0,0,0,0,0,0,0,0,0
3,2,1,2.0,651,59,1953.0,17900,3600,1.571401,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1,2.0,466,131,1998.0,11200,2000,1.514922,0,...,0,0,0,0,0,0,0,0,0,0

In [110]:
columns = df_merged.columns

In [111]:
from sklearn.preprocessing import StandardScaler

In [112]:
scaled = StandardScaler().fit_transform(df_merged)
scaled

array([[ 0.45329517,  0.30121179, -0.02645748, ..., -0.05931608,
        -0.06274932, -0.04008799],
       [-0.87644441,  0.30121179, -0.02645748, ..., -0.05931608,
        -0.06274932, -0.04008799],
       [-0.87644441, -1.40115329, -0.72375803, ..., -0.05931608,
        -0.06274932, -0.04008799],
       ...,
       [-0.87644441,  0.30121179, -0.02645748, ..., -0.05931608,
        -0.06274932, -0.04008799],
       [-0.87644441, -1.40115329, -0.02645748, ..., -0.05931608,
        -0.06274932, -0.04008799],
       [-0.87644441, -1.40115329, -0.02645748, ..., -0.05931608,
        -0.06274932, -0.04008799]])

In [113]:
df_scaled = pd.DataFrame(scaled, columns=columns)
df_scaled.head()

,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,NEAREST_SCH_DIST,Alexander Heights,...,Wilson,Winthrop,Woodbridge,Woodlands,Woodvale,Wooroloo,Wungong,Yanchep,Yangebup,Yokine
0,0.453295,0.301212,-0.026457,-0.128234,-0.325949,0.664719,-0.130002,-0.605867,-0.565260,-0.061788,...,-0.047886,-0.049721,-0.059568,-0.053204,-0.054316,-0.038957,-0.024384,-0.059316,-0.062749,-0.040088
1,-0.876444,0.301212,-0.026457,-0.143150,-0.617203,1.165786,0.626757,0.083788,2.124348,-0.061788,...,-0.047886,-0.049721,-0.059568,-0.053204,-0.054316,-0.038957,-0.024384,-0.059316,-0.062749,-0.040088
2,-0.876444,-1.401153,-0.723758,-0.121105,-1.352274,-0.537844,0.248378,-0.583620,-0.095127,-0.061788,...,-0.047886,-0.049721,-0.059568,-0.053204,-0.054316,-0.038957,-0.024384,-0.059316,-0.062749,-0.040088
3,-2.206184,-1.401153,-0.026457,-0.125179,-1.726744,-1.840620,-0.165200,-0.205422,-0.139674,-0.061788,...,-0.047886,-0.049721,-0.059568,-0.053204,-0.054316,-0.038957,-0.024384,-0.059316,-0.062749,-0.040088
4,0.453295,-1.401153,-0.026457,-0.136261,-0.728157,0.414185,-0.754768,-0.561373,-0.172022,-0.061788,...,-0.047886,-0.049721,-0.059568,-0.053204,-0.054316,-0.038957,-0.024384,-0.059316,-0.062749,-0.040088

In [114]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_scaled, y)

In [115]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs')

In [116]:
 # Train the data
classifier.fit(X_train, y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()