In [15]:
import pandas as pd

In [16]:
housing_data = pd.read_csv("all_perth_310121.csv")
housing_data

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33651,9C Gold Street,South Fremantle,1040000,4,3,2.0,292,245,2013.0,16100,Fremantle Station,1500,03-2016\r,6162,-32.064580,115.751820,CHRISTIAN BROTHERS' COLLEGE,1.430350,49.0
33652,9C Pycombe Way,Westminster,410000,3,2,2.0,228,114,NaN,9600,Stirling Station,4600,02-2017\r,6061,-31.867055,115.841403,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.679644,35.0
33653,9D Pycombe Way,Westminster,427000,3,2,2.0,261,112,NaN,9600,Stirling Station,4600,02-2017\r,6061,-31.866890,115.841418,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.669159,35.0
33654,9D Shalford Way,Girrawheen,295000,3,1,2.0,457,85,1974.0,12600,Warwick Station,4400,10-2016\r,6064,-31.839680,115.842410,GIRRAWHEEN SENIOR HIGH SCHOOL,0.358494,NaN
33655,9E Margaret Street,Midland,295000,3,1,2.0,296,95,NaN,16700,Midland Station,1700,05-2016\r,6056,-31.882163,116.014755,LA SALLE COLLEGE,1.055564,53.0

In [17]:
sorted_df = housing_data.sort_values(by='BUILD_YEAR', ascending=False)

# Print the sorted DataFrame
sorted_df

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
32409,9 Covenham Crescent,Aveley,430000,4,2,2.0,375,160,2017.0,22400,Woodbridge Station,11700,10-2020\r,6069,-31.786825,115.994063,SWAN VALLEY ANGLICAN COMMUNITY SCHOOL,1.167177,53.0
26971,6 La Fayette Boulevard,Bibra Lake,565000,4,2,NaN,806,312,2017.0,16100,Murdoch Station,4400,07-2016\r,6163,-32.091380,115.814210,PERTH WALDORF SCHOOL,0.337237,NaN
145,1 Eastfield Court,Ferndale,250000,3,1,1.0,955,396,2017.0,11400,Queens Park Station,2700,07-2016\r,6148,-32.030990,115.935361,FOUNTAIN COLLEGE,1.571154,NaN
9209,183A Salisbury Street,Bedford,690000,4,2,2.0,532,247,2017.0,5200,Mount Lawley Station,2800,04-2018\r,6052,-31.909876,115.882484,CHISHOLM CATHOLIC COLLEGE,1.716868,29.0
10148,2 Barnsley Street,Queens Park,480000,4,2,2.0,664,94,2017.0,9800,Canning,1400,08-2017\r,6107,-32.001055,115.945425,ST NORBERT COLLEGE,0.604300,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33630,9a Sydenham Road,Doubleview,990000,4,2,2.0,327,311,NaN,9100,Stirling Station,1900,07-2018\r,6018,-31.899212,115.785637,INTERNATIONAL SCHOOL OF WESTERN AUSTRALIA,0.761199,NaN
33641,9B Leichardt Street,St James,495000,5,1,1.0,971,130,NaN,6900,Welshpool Station,1100,06-2020\r,6102,-31.995070,115.911720,KENT STREET SENIOR HIGH SCHOOL,2.078063,93.0
33652,9C Pycombe Way,Westminster,410000,3,2,2.0,228,114,NaN,9600,Stirling Station,4600,02-2017\r,6061,-31.867055,115.841403,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.679644,35.0
33653,9D Pycombe Way,Westminster,427000,3,2,2.0,261,112,NaN,9600,Stirling Station,4600,02-2017\r,6061,-31.866890,115.841418,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.669159,35.0
33655,9E Margaret Street,Midland,295000,3,1,2.0,296,95,NaN,16700,Midland Station,1700,05-2016\r,6056,-31.882163,116.014755,LA SALLE COLLEGE,1.055564,53.0

In [18]:
null_count = sorted_df["BUILD_YEAR"].isnull().sum()
null_count

3155

In [19]:
for i in range(len(sorted_df['BUILD_YEAR'])):
    if pd.isnull(sorted_df.loc[i, 'BUILD_YEAR']):
        sorted_df.loc[i, 'BUILD_YEAR'] = sorted_df.loc[i-1, 'BUILD_YEAR']

In [20]:
for i in range(len(sorted_df['GARAGE'])):
    if pd.isnull(sorted_df.loc[i, 'GARAGE']):
        sorted_df.loc[i, 'GARAGE'] = 0

In [28]:
sorted_df.reset_index(drop=True)

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,9 Covenham Crescent,Aveley,430000,4,2,2.0,375,160,2017.0,22400,Woodbridge Station,11700,10-2020\r,6069,-31.786825,115.994063,SWAN VALLEY ANGLICAN COMMUNITY SCHOOL,1.167177,53.0
1,6 La Fayette Boulevard,Bibra Lake,565000,4,2,0.0,806,312,2017.0,16100,Murdoch Station,4400,07-2016\r,6163,-32.091380,115.814210,PERTH WALDORF SCHOOL,0.337237,NaN
2,1 Eastfield Court,Ferndale,250000,3,1,1.0,955,396,2017.0,11400,Queens Park Station,2700,07-2016\r,6148,-32.030990,115.935361,FOUNTAIN COLLEGE,1.571154,NaN
3,183A Salisbury Street,Bedford,690000,4,2,2.0,532,247,2017.0,5200,Mount Lawley Station,2800,04-2018\r,6052,-31.909876,115.882484,CHISHOLM CATHOLIC COLLEGE,1.716868,29.0
4,2 Barnsley Street,Queens Park,480000,4,2,2.0,664,94,2017.0,9800,Canning,1400,08-2017\r,6107,-32.001055,115.945425,ST NORBERT COLLEGE,0.604300,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33651,9a Sydenham Road,Doubleview,990000,4,2,2.0,327,311,2005.0,9100,Stirling Station,1900,07-2018\r,6018,-31.899212,115.785637,INTERNATIONAL SCHOOL OF WESTERN AUSTRALIA,0.761199,NaN
33652,9B Leichardt Street,St James,495000,5,1,1.0,971,130,1985.0,6900,Welshpool Station,1100,06-2020\r,6102,-31.995070,115.911720,KENT STREET SENIOR HIGH SCHOOL,2.078063,93.0
33653,9C Pycombe Way,Westminster,410000,3,2,2.0,228,114,2013.0,9600,Stirling Station,4600,02-2017\r,6061,-31.867055,115.841403,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.679644,35.0
33654,9D Pycombe Way,Westminster,427000,3,2,2.0,261,112,2013.0,9600,Stirling Station,4600,02-2017\r,6061,-31.866890,115.841418,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.669159,35.0
33655,9E Margaret Street,Midland,295000,3,1,2.0,296,95,1974.0,16700,Midland Station,1700,05-2016\r,6056,-31.882163,116.014755,LA SALLE COLLEGE,1.055564,53.0

In [29]:
sorted_df.to_csv('Perth_Housing_Prices(Fixed).csv')

PermissionError: [Errno 13] Permission denied: 'Perth_Housing_Prices(Fixed).csv'

In [23]:
final_sorted.describe()

,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK
count,3.365600e+04,33656.000000,33656.000000,33656.000000,33656.000000,33656.000000,33656.000000,33656.000000,33656.000000,33656.000000,33656.000000,33656.000000,33656.000000,22704.000000
mean,6.370720e+05,3.659110,1.823063,2.037943,2740.644016,183.501545,1989.621078,19777.374465,4523.371494,6089.420074,-31.960664,115.879265,1.815268,72.672569
std,3.558256e+05,0.752038,0.587427,1.434123,16693.513215,72.102982,21.044630,11364.415413,4495.064024,62.167921,0.177780,0.118137,1.746000,40.639795
min,5.100000e+04,1.000000,1.000000,0.000000,61.000000,1.000000,1868.000000,681.000000,46.000000,6003.000000,-32.472979,115.582730,0.070912,1.000000
25%,4.100000e+05,3.000000,1.000000,2.000000,503.000000,130.000000,1978.000000,11200.000000,1800.000000,6050.000000,-32.068437,115.789763,0.880568,39.000000
50%,5.355000e+05,4.000000,2.000000,2.000000,682.000000,172.000000,1995.000000,17500.000000,3200.000000,6069.000000,-31.933231,115.854198,1.345520,68.000000
75%,7.600000e+05,4.000000,2.000000,2.000000,838.000000,222.250000,2005.000000,26600.000000,5300.000000,6150.000000,-31.843818,115.970722,2.097225,105.000000
max,2.440000e+06,10.000000,16.000000,99.000000,999999.000000,870.000000,2017.000000,59800.000000,35500.000000,6558.000000,-31.457450,116.343201,23.254372,139.000000

In [24]:
sorted_df.to_csv('Perth_Housing_Prices(Fixed).csv')