In [9]:
import pandas as pd 
import numpy as np
house_sales = "Resources/Perth_Housing_Prices.csv"
sales_df = pd.read_csv(house_sales)
sales_df.set_index('ADDRESS', inplace=True)
sales_df.head()

,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
ADDRESS,,,,,,,,,,,,,,,,,,
9 Covenham Crescent,Aveley,430000,4,2,2,375,160,2017,22400,Woodbridge Station,11700,10-2020\r,6069,-31.786825,115.994063,SWAN VALLEY ANGLICAN COMMUNITY SCHOOL,1.167177,53.0
6 La Fayette Boulevard,Bibra Lake,565000,4,2,0,806,312,2017,16100,Murdoch Station,4400,07-2016\r,6163,-32.091380,115.814210,PERTH WALDORF SCHOOL,0.337237,NaN
1 Eastfield Court,Ferndale,250000,3,1,1,955,396,2017,11400,Queens Park Station,2700,07-2016\r,6148,-32.030990,115.935361,FOUNTAIN COLLEGE,1.571154,NaN
183A Salisbury Street,Bedford,690000,4,2,2,532,247,2017,5200,Mount Lawley Station,2800,04-2018\r,6052,-31.909876,115.882484,CHISHOLM CATHOLIC COLLEGE,1.716868,29.0
2 Barnsley Street,Queens Park,480000,4,2,2,664,94,2017,9800,Canning,1400,08-2017\r,6107,-32.001055,115.945425,ST NORBERT COLLEGE,0.604300,42.0

In [10]:
sales_df['DATE_SOLD'] = '01-' + sales_df['DATE_SOLD']
sales_df['DATE_SOLD'] = sales_df['DATE_SOLD'].str.replace('\r', '')
sales_df['DATE_SOLD'] = pd.to_datetime(sales_df['DATE_SOLD'])
sales_df.head()

,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
ADDRESS,,,,,,,,,,,,,,,,,,
9 Covenham Crescent,Aveley,430000,4,2,2,375,160,2017,22400,Woodbridge Station,11700,2020-01-10,6069,-31.786825,115.994063,SWAN VALLEY ANGLICAN COMMUNITY SCHOOL,1.167177,53.0
6 La Fayette Boulevard,Bibra Lake,565000,4,2,0,806,312,2017,16100,Murdoch Station,4400,2016-01-07,6163,-32.091380,115.814210,PERTH WALDORF SCHOOL,0.337237,NaN
1 Eastfield Court,Ferndale,250000,3,1,1,955,396,2017,11400,Queens Park Station,2700,2016-01-07,6148,-32.030990,115.935361,FOUNTAIN COLLEGE,1.571154,NaN
183A Salisbury Street,Bedford,690000,4,2,2,532,247,2017,5200,Mount Lawley Station,2800,2018-01-04,6052,-31.909876,115.882484,CHISHOLM CATHOLIC COLLEGE,1.716868,29.0
2 Barnsley Street,Queens Park,480000,4,2,2,664,94,2017,9800,Canning,1400,2017-01-08,6107,-32.001055,115.945425,ST NORBERT COLLEGE,0.604300,42.0

In [11]:
sales_df.dtypes

SUBURB                      object
PRICE                        int64
BEDROOMS                     int64
BATHROOMS                    int64
GARAGE                       int64
LAND_AREA                    int64
FLOOR_AREA                   int64
BUILD_YEAR                   int64
CBD_DIST                     int64
NEAREST_STN                 object
NEAREST_STN_DIST             int64
DATE_SOLD           datetime64[ns]
POSTCODE                     int64
LATITUDE                   float64
LONGITUDE                  float64
NEAREST_SCH                 object
NEAREST_SCH_DIST           float64
NEAREST_SCH_RANK           float64
dtype: object

In [49]:
sales_df['GARAGE'] = sales_df['GARAGE'].fillna(0)

In [50]:
sales_df = sales_df.loc[sales_df['CBD_DIST'] <= 35000]
sales_df_a = sales_df.copy()

In [51]:
# set y values
y = sales_df_a['PRICE']

In [52]:
sales_df_a.columns

Index(['SUBURB', 'PRICE', 'BEDROOMS', 'BATHROOMS', 'GARAGE', 'LAND_AREA',
       'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'DATE_SOLD', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH', 'NEAREST_SCH_DIST', 'NEAREST_SCH_RANK'],
      dtype='object')

In [53]:
sales_df_a = sales_df_a.drop(['SUBURB', 'PRICE', 'NEAREST_STN', 'DATE_SOLD', 'POSTCODE', 'LATITUDE', 'LONGITUDE', 'NEAREST_SCH', 'NEAREST_SCH_RANK', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN_DIST', 'NEAREST_SCH_DIST'], axis=1)
sales_df_a.head()

                        BEDROOMS  BATHROOMS  GARAGE  LAND_AREA  FLOOR_AREA
ADDRESS
9 Covenham Crescent            4          2       2        375         160
6 La Fayette Boulevard         4          2       0        806         312
1 Eastfield Court              3          1       1        955         396
183A Salisbury Street          4          2       2        532         247
2 Barnsley Street              4          2       2        664          94

In [54]:
columns = sales_df_a.columns
columns

Index(['BEDROOMS', 'BATHROOMS', 'GARAGE', 'LAND_AREA', 'FLOOR_AREA'], dtype='object')

In [55]:
from sklearn.preprocessing import StandardScaler

In [56]:
scaled = StandardScaler().fit_transform(sales_df_a)
scaled

array([[ 0.46056119,  0.296067  , -0.0268803 , -0.14819112, -0.32833912],
       [ 0.46056119,  0.296067  , -1.42619602, -0.11297427,  1.74662953],
       [-0.85856455, -1.37579155, -0.72653816, -0.10079953,  2.89332273],
       ...,
       [-0.85856455,  0.296067  , -0.0268803 , -0.16020244, -0.95629016],
       [-0.85856455,  0.296067  , -0.0268803 , -0.15750602, -0.98359238],
       [-0.85856455, -1.37579155, -0.0268803 , -0.15464618, -1.21566124]])

In [57]:
df_scaled = pd.DataFrame(scaled, columns=columns)
df_scaled.head()

   BEDROOMS  BATHROOMS    GARAGE  LAND_AREA  FLOOR_AREA
0  0.460561   0.296067 -0.026880  -0.148191   -0.328339
1  0.460561   0.296067 -1.426196  -0.112974    1.746630
2 -0.858565  -1.375792 -0.726538  -0.100800    2.893323
3  0.460561   0.296067 -0.026880  -0.135363    0.859307
4  0.460561   0.296067 -0.026880  -0.124577   -1.229312

In [58]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_scaled, y)

In [59]:
from sklearn.linear_model import LinearRegression
classifier = LinearRegression()

In [60]:
 # Train the data
classifier.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [61]:
prediction = classifier.predict(df_scaled)

In [62]:
sales_df_b = sales_df.copy()
sales_df_b['Predicted Price'] = prediction
sales_df_b['Predicted Price'] = sales_df_b['Predicted Price'].round()
sales_df_b.head()

,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK,Predicted Price
ADDRESS,,,,,,,,,,,,,,,,,,,
9 Covenham Crescent,Aveley,430000,4,2,2,375,160,2017,22400,Woodbridge Station,11700,10-2020\r,6069,-31.786825,115.994063,SWAN VALLEY ANGLICAN COMMUNITY SCHOOL,1.167177,53.0,591487.0
6 La Fayette Boulevard,Bibra Lake,565000,4,2,0,806,312,2017,16100,Murdoch Station,4400,07-2016\r,6163,-32.091380,115.814210,PERTH WALDORF SCHOOL,0.337237,NaN,983959.0
1 Eastfield Court,Ferndale,250000,3,1,1,955,396,2017,11400,Queens Park Station,2700,07-2016\r,6148,-32.030990,115.935361,FOUNTAIN COLLEGE,1.571154,NaN,1182628.0
183A Salisbury Street,Bedford,690000,4,2,2,532,247,2017,5200,Mount Lawley Station,2800,04-2018\r,6052,-31.909876,115.882484,CHISHOLM CATHOLIC COLLEGE,1.716868,29.0,824934.0
2 Barnsley Street,Queens Park,480000,4,2,2,664,94,2017,9800,Canning,1400,08-2017\r,6107,-32.001055,115.945425,ST NORBERT COLLEGE,0.604300,42.0,414417.0

In [63]:
print(f"Model's formula: y = {classifier.intercept_} + {classifier.coef_[0]}X")

Model's formula: y = 660082.0022357097 + -42885.01166781087X

In [64]:
 # Import relevant metrics from scikit-learn: score, r2, mse, rmse, std
from sklearn.metrics import mean_squared_error, r2_score

In [65]:
# Compute the metrics for the linear regression model
score = classifier.score(sales_df_a, y, sample_weight=None)
r2 = r2_score(y, prediction)
mse = mean_squared_error(y, prediction)
rmse = np.sqrt(mse)
std = np.std(y)

# Print releveant metrics.
print(f"The score is {score}.")
print(f"The r2 is {r2}.")
print(f"The mean squared error is {mse}.")
print(f"The root mean squared error is {rmse}.")
print(f"The standard deviation is {std}.")

The score is -13426.732649357205.
The r2 is 0.32633386464839886.
The mean squared error is 89283568716.9053.
The root mean squared error is 298803.56208871625.
The standard deviation is 364051.99249855045.

In [66]:
sales_df_b.to_csv('Perth Housing Predictions 2.csv', sep=',')